$total-arrows: 3;
$arrow-line-length: 50px;
$arrow-line-width: 4px;

// arrow animtion + choose direction
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}


// arrows
.arrowContainer {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  right: -2vw;
  @include arrow-transitions(0deg);

  &:hover {
    cursor: pointer;

    .arrow {


      &:before {
        @include arrow-transitions(-30deg);
      }

      &:after {
        @include arrow-transitions(30deg);
      }
    }

    .rightText {
      opacity: 1;
      right: 5vw;
      transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    }

  }
}

.arrow {
  position: fixed;
  left: 50%;
  border-color: var(--buttonColor);
  transition: all .4s ease;
  transform: rotate(-90deg);

  &:before,
  &:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: fixed;
    transform-origin: bottom right;
    background: var(--buttonColor);
    width: $arrow-line-width;
    height: $arrow-line-length;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-65deg);
  }

  &:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(65deg);
  }

  @for $i from 1 through $total-arrows {
    &:nth-child(#{$i}) {
      opacity: 0.3 * $i;
      top: 15 + (100% * $i/5);
    }
  }
}

.rightText {
  position: fixed;
  top: 25%;
  color: var(--buttonColor);
  right: 1vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: inherit;
}

@media only screen and (max-width: 767px) {
  .arrowContainer {
    right: -100vw;
  }
}
